$primary-color: #35a6de;
$secondary-color: white;
$teal: #147f92;
$navy: #1d3767;
$yellow: #f2b14c;
$orange: #f26640;

body {
    background-color: $primary-color;
    background: url('../../assets/Leaderboard\ basic\ bg.png') ;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
html {
    background: url('../../assets/Leaderboard\ basic\ bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

div {
    padding-top: 30 px;
}

.buffer{
    padding: 20px;
    color: $primary-color;
}

.text-block{
    background-color: $orange;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 3px;
    
}

.text-block2{
    background-color: $orange;
    text-align: center;
    font-size: large;
    padding: 20px;
}

.Leaderboard-title{
    text-align: center;
    padding-top: 20px;
    color:$secondary-color;
}