<body class="body">

    <div>
        <br>
    </div>
    <div class="text-block">
        <p>  {{this._total_coins}} coins collected so far</p>
    </div>

    <!-- Background image -->
    <!-- <div
    class="bg-image"
    style="
        background-image: url('../../assets/Leaderboard\ basic\ bg.png');
        height: 100vh;
    "
    > -->



    <div class="Leaderboard-title">
        <h2>Leaderboard</h2>
        <h3>Top Climate Change Coin Earners  </h3>
    </div>

    <div class="Leaderboard-table">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                  <div class="col-md-8">
                  <mdb-tabs [fill]="true">
                    <mdb-tab title="Overall">
                    <table class="table">
                        <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Coins Collected</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr class="table-light" *ngFor = 'let user of this._userinfoList; let i = index;'>
                                    <td>{{i+1}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.coins}}</td>
                                </tr>
                        </tbody>
                    </table>
                </mdb-tab>
                <mdb-tab title="Monthly">
                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Coins Collected</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr class="table-light" *ngFor = 'let user of this._userseasonalList; let i = index;'>
                                <td>{{i+1}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.coins}}</td>
                            </tr>
                    </tbody>
                </table>
                </mdb-tab>
                </mdb-tabs>
                </div>



        <div class="col-md-2"></div>
        </div>
        </div>
    </div>
    

    <div class="buffer"> hi </div>

    <div class="text-block2">
        <p>How To Join? 
            <button type="button" class="btn" style="background-color: #f2b14c;">Download Sunnyville today!</button>
        </p>
    </div>
<!-- </div> -->
</body>
