<footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-light text-center p-3" style="background-color:#1d3767">
        <a href="/privacy-policy" class="text-white" target="_blank">  Privacy Policy  <span class="tab"></span>|</a>
        <a href="#!" class="text-white" target="_blank"> <span class="tab"></span> Download  <span class="tab"></span>|</a>
        <a href="https://foundationforclimaterestoration.org" target="_blank" class="text-white"> <span class="tab"></span>  F4CR  <span class="double-tab"></span></a>
        
            <!-- Facebook -->
            <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="https://www.facebook.com/foundationforclimaterestoration/"
            role="button"
            target="_blank"
            ><i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="https://twitter.com/F4CR2050"
            role="button"
            target="_blank"
            ><i class="fab fa-twitter"></i
        ></a>


        <!-- Instagram -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/f4cr2050/"
            role="button"
            target="_blank"
            ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/company/foundation-for-climate-restoration"
            role="button"
            target="_blank"
            ><i class="fab fa-linkedin-in"></i
        ></a>
        </div>
        

   
<!-- Section: Social media -->
  </footer>