<body class="body">
    <div>
        <br><br>
        <h1 class="heading-txt">
            Learn About Climate Restoration 
        </h1>
    </div>

    <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/z0gXbIvUTfs"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>

      <div class="row white-block">
        <h1 class="heading-txt-black">
            Get In Touch
        </h1>
        <div class="col-md-6">
            <h2>
                More Ways to get involved:
            </h2>
            <h3>
                <br>
                Visit <a href="https://foundationforclimaterestoration.org/" target="_blank" >Foundation for Climate Restoration</a> for more ways to get involved and take the pledge to help better the environment. 
                <br> <br><br>
                Email us directly at <a href = "mailto: Sunnyvillegame@gmail.com"> Sunnyvillegame@gmail.com </a>
                Or fill out the form provided 
                <br>
            </h3>
        </div>
        <div class="col-md-6">
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" >
                <!-- <input type = "hidden" formControllName="$id"> -->
                <div class="form-group mb-4">
                    <label for="form-text">Name</label>
                  <input type="text" formControlName="name" class="form-control"  [class]="isValidField('name')" />
                  <div class = "invalid-feedback" *ngIf="feedbackForm.controls.name.errors">
                      This field is required.
                  </div>
              </div>
                <div class="form-group mb-4">
                    <label class="form-label" for="form3Example2">Subject</label>
                  <input formControlName="subject"  id="form3Example2"  class="form-control"  [class]="isValidField('subject')" />
                  <div class = "invalid-feedback" *ngIf="feedbackForm.controls.subject.errors">
                    The field is required.
                  </div>
                </div>
              
                <div class="form-group mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input formControlName="email"  id="form3Example3" class="form-control" [class]="isValidField('email')" />
                    <div class = "invalid-feedback" *ngIf="feedbackForm.controls.email.errors">
                        The field is required.
                      </div>
                </div>
              
                <div class="form-group mb-4">
                    <label class="form-label" for="form4Example3">Message</label>
                    <textarea formControlName="message" class="form-control" id="form4Example3" rows="4" [class]="isValidField('message')"  ></textarea>
                    <div class = "invalid-feedback" *ngIf="feedbackForm.controls.message.errors">
                        <label *ngIf="feedbackForm.controls.message.errors.required">The field is required</label> 
                        <label *ngIf="feedbackForm.controls.message.errors.minlength">The field must be at least 8 characters</label> 
                     </div>
                </div>
              

                <button type="submit" class="btn btn-primary btn-block mb-4" >Send Email  </button>

              </form>
              <div class="alert alert-info" *ngIf="showSuccessMessage">
                  Submitted Successfully.
              </div>
              
        </div>
    </div>

    <div class="info">
        <h2>The Sunnyville Game and Website were created by St. Mary’s University computer science students.</h2>
    </div>

      

</body>
