$primary-color: #35a6de;
$secondary-color: white;
$teal: #147f92;
$navy: #1d3767;
$yellow: #f2b14c;

body {
    background-color: $primary-color;
}


iframe{
    padding-top: 50px;
    padding-bottom: 80px;
}
.heading-txt-black{
    text-align: center;
    padding-bottom: 20px;
}
.white-block{
    background-color: $secondary-color;
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    // font-weight: bold;
    // font-size: x-large;
}

.info{
    padding: 100px;
    font-size: large;
    text-align: center;
}

.heading-txt {
    color: $secondary-color; 
    text-align: center ;

}

.take-action p{
    padding-left: 100px; 
    float: left;
    font-size: x-large;
}

