$primary-color: #35a6de;
// $secondary-color: white;
// $teal: #147f92;
// $navy: #1d3767;
// $yellow: #f2b14c;

// $theme-colors: (
//   "primary":    $primary-color,
//   "secondary":  $secondary-color,
//   "teal":    $teal,
//   "navy":       $navy,
//   "yellow":    $yellow
// );

// $main-color: #35a6de;         


