

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #35a6de;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
        src="../../assets/Sun.png"
        height="40"
        alt=""
        loading="lazy"
      />
      Sunnyville
      </a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        mdbCollapse
        #basicNav="mdbCollapse"
      >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gameplay">Game Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>