<body>
<div class="row">
    <div class="col-md-8 resources">
        <br><br><br>
        <h1>Resources</h1>
        <br>
        <p>or more information on different client reformation topics check out the below websites!
            <br><br> 
            Helpful Articles: <a href="https://foundationforclimaterestoration.org/" target="_blank" >Foundation for Climate Restoration Articles</a>
            Helpful Videos: <a href="https://foundationforclimaterestoration.org/" target="_blank" >Foundation for Climate Restoration Videos</a>
        </p>
        <br>
    </div>
    <div class="col-md-4">
        <img src="../../assets/Earth.png" class="img-full">
    </div>
</div>


<div class="white-block-2">
    <br><br>
    <h1>Sunnyville Sponsors<br></h1>
    <h2>A big thank you to our sponsors who make this game possible. <br><br>     </h2>
    <div class="container">
        <div class="row">
          <div class="col-md">
            <img
            src="../../assets/Foundation4crLogo.png"
            class="img-fluid rounded"
            alt=""
          />          </div>
          <div class="col-md">
            <img
            src="../../assets/stmuLogo.png"
            class="img-fluid rounded"
            alt=""
          />
          </div>
        </div>
      </div>
    <br>
</div>

</body>