$primary-color: #35a6de;
$secondary-color: white;
$teal: #147f92;
$navy: #1d3767;
$yellow: #f2b14c;

body {
    background-color: $primary-color;
}

div {
    padding-top: 30 px;
}

.img-full{
    width: 100%;
    height: auto;
}

.resources {
    padding-left: 100px; 
    color: $secondary-color;
    float: left;
    padding-bottom: 60px;

}

.resources p{
    padding-left: 100px; 
    float: left;
    font-size: x-large;
}

.white-block-2{
    background-color: white;
    font-size: x-large;
    text-align: center;
    padding-bottom: 40px;
}