<body class="body">
    <div>
        <p><br></p>
    </div>
    <div class="row white-block">
        <div class="col-md-8 take-action">
            <br><br><br>
            <h1>Here at Sunnyville we are saving the world one climate coin at a time! 
           <br>     <button type="button" class="btn" style="background-color: #f2b14c;">Download Today!</button>
            </h1>
        </div>
        <div class="col-md-4">
            <img src="../../assets/game-play-phone.png" class="img-full">
        </div>
    </div>

    <div class="blue-info">
       <div class="row">
        <div class="col-md-3">  
            <img src="../../assets/Earth.png" class="img-full">
        </div>
        <div class="col-md-6"><h1><br>What is Sunnyville</h1></div>
        <div class="col-md-3">
          <img src="../../assets/Earth.png" class="img-full">
        </div>
       </div>
        <p>Sunnyville is a mobile game where Ada the scientist needs help restore the climate. As a player, you will follow along a thrilling storyline with multiple quests where you can earn climate change coins. Download the game on the Apple Store to help play now and learn different ways to restore the climate. 
        </p>
    </div>

    <div>
        <br><br>
        <h1 class="heading-txt">
            How To Play: 
        </h1>
    </div>

    <div class="ratio ratio-16x9 video-pad">
        <iframe
          src="https://www.youtube.com/embed/z0gXbIvUTfs"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>




      <div class="items-container">
        <div class=heading-txt-white>
            <br><br><br>
            <h1>Items to watch for</h1>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../assets/MainPlayArea.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Sunnyville level 1</h5>
              <p class="card-text">
                Welcome to Sunnyville, help your community by completing tasks.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../assets/kelp.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Kelp</h5>
              <p class="card-text"> Kelp is an item you can find in the game</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../assets/limestoneImage.PNG"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Limestone</h5>
              <p class="card-text">
                TSome quick example text to build on the card title and make up the bulk of the
                        card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../assets/Caravan.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Town Bus</h5>
              <p class="card-text">
                The town bus is not working yet. Fix it by earning climate coins.
              </p>
            </div>
          </div>
        </div>
      </div>

</body>