$primary-color: #35a6de;
$secondary-color: white;
$teal: #147f92;
$navy: #1d3767;
$yellow: #f2b14c;

body {
    background-color: $primary-color;
}

.take-action {
    padding-left: 100px; 
    text-align: center;
}

.take-action p{
    padding-left: 100px; 
    float: left;
    font-size: x-large;
}

.img-full{
    width: 60%;
    height: auto;
}
.white-block{
    background-color: $secondary-color;

}

.row{
    padding-top: 20px;
    padding-bottom: 20px;
}

.row .btn {
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }

  .blue-info{
      color:$secondary-color;
      text-align: center;
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
      
  }

  .blue-info p {
      font-size: x-large;
  }

  .heading-txt {
    text-align: center ;
    background-color: $secondary-color;

}

.video-pad{
    padding: 20px;
}

.col{
    padding: 40px;
}

.heading-txt-white {
    text-align: center ;
    color: $secondary-color;

}

.card-img-top {
    height: 250px;
    object-fit:contain;
}


.items-container{
    padding: 20px;
}

.card-body{
    text-align: center;
}

