<div class="white-block">
    <h1>Privacy Policy<br><br></h1>
    <p>privacy policy
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </p>
</div>
