<body class="body">
    <div>
        <br><br>
    </div>

    <div class="white-block">
        <p>{{this._total_coins}}  Coins Collected So Far! </p>
    </div>
    
    <br>

    <div></div>
    <div class="img-container">
    <img src="../../assets/GamePlayMainScreen.png"  alt="..." />
    <button type="button" class="btn" style="background-color: #f2b14c;">Sunnyville <br> Download Today!</button>
    </div>

    <br><br>

    <div class="white-block-2">
        <br><br>
        <h1>What is Climate Restoration?</h1>
        <p>
            Climate restoration is the safe and permanent removal of excess atmospheric C0₂ to return us to pre-industrial levels ( below 300 parts per million 
            <a
            tabindex="0"
            class=" btn-floating m-1"
            role="button"
            trigger="focus"
            mdbPopover="Atmospheric C0₂ is measured in parts per million."
            ><i class="fas fa-info-circle"></i>
                </a>
            ) and ensure a habitable planet for future generations. Prior to the industrial revolution humans and animals, thrived when C0₂ was below 300 parts per million. It is now over 417 parts per million.
        
        </p>
        <br>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-8 take-action">
            <br><br><br>
            <h1>Ways to help:</h1>
            <br>
            <p>Get involved and Take Action now at <br><br> <a href="https://foundationforclimaterestoration.org/" target="_blank" >Foundation for Climate Restoration</a></p>
            <br>
        </div>
        <div class="col-md-4">
            <img src="../../assets/Sun.png" class="img-full">
        </div>
    </div>
    <br>



</body>




