$primary-color: #35a6de;
$secondary-color: white;
$teal: #147f92;
$navy: #1d3767;
$yellow: #f2b14c;

body {
    background-color: $primary-color;
}

div {
    padding-top: 30 px;
}

.white-block{
    background-color: $secondary-color;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.white-block-2{
    background-color: white;
    font-size: x-large;
    text-align: center;
}

.take-action {
    padding-left: 100px; 
    float: left;

}

.take-action p{
    padding-left: 100px; 
    float: left;
    font-size: x-large;
}


.img-full{
    width: 100%;
    height: auto;
}

//   .row {
//       padding-left: 60px;
//       font-size: x-large;
//       color: white
//   }

.img-container{
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .img-container .btn {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .img-container .btn:hover {
    background-color: black;
  }